.navbar {
    background-color: #f9e4f5;
    padding: 10px;
    top: 0;
    position: sticky;
    border-radius: 30px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
   
}

.navbar li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar a:hover {
    color: #a29870;
    cursor: pointer;
    transform: scale(1.2);
}
section h1 {
    margin-bottom: 15px;
    text-align: center;
}
section p {
    margin-top: 0;
    margin-bottom: 40px;
}
section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section h2 { background-color: #f9e4f5;
    padding: 20px;
    border-radius: 30px;  
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

#blog-post {
    background-color: #f9e4f5;
    padding: 10px;
    border-radius: 30px;  
    text-align: center;
}
